<center>
<h1 >{{Details.Title}}</h1></br>

<a href="/category/Apps"><button type="button" class="btn btn-primary btn-md"><h3 class="one">{{Details.Apps}}</h3></button></a></br></br>
<a href="/category/Phone"><button type="button" class="btn btn-primary btn-md"><h3 class="one">{{Details.Phone}}</h3></button></a></br></br>
<a href="/category/Messages"><button type="button" class="btn btn-primary btn-md"><h3 class="one">{{Details.Messages}}</h3></button></a></br></br>
<a href="/category/Calendar"><button type="button" class="btn btn-primary btn-md"><h3 class="one">{{Details.Calendar}}<h3></button></a></br></br>
</center>
