<center>
<h1 >{{Details.Title}}</h1></br></br>

<a href="/category/Apps"><h3>{{Details.Apps}}</h3></a></br>
<a href="/category/Phone"><h3>{{Details.Phone}}</h3></a></br>
<a href="/category/Messages"><h3>{{Details.Messages}}</h3></a></br>
<a href="/category/Calendar"><h3>{{Details.Calendar}}</h3></a></br>
</center>
